a:hover {
    cursor: pointer;
}
.rs-favorite-items-count {
    display: none;
}
.active .rs-favorite-items-count {
    display: flex;
}
button.btn, .btn, .btn-flat {
    border: none !important;
    outline: none !important;
}
.item-product-cart-action__amount {
    display: none;
}
.item-product-cart-action_amount .item-product-cart-action__amount {
    display: block;
}
.item-product-cart-action_amount .item-product-cart-action__to-cart {
    display: none;
}
button:focus:not(:focus-visible){
    outline: none !important;
}
header .nav-top .nav-right .icon-wrapper span.indicator {
    display: none;
}
header .nav-top .nav-right .icon-wrapper .active span.indicator {
    display: block;
}
.d-none {
    display: none!important;
}
body .btn {
    text-align: center;
}
.modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
button:focus {
    background-color: #fff;
}
.btn-close:focus {
    box-shadow: none;
}
.modal .modal-footer {
    border-top: none;
    margin-top: 0;
}
body .layout-modal .col {
    padding: 0 1.5rem;
}
header .nav-bottom ul.nav-br a.btn {
    text-decoration: none;
}
#add-recipient-not-auth a:first-of-type {
    margin-right: 25px;
}
body *:not(.disabled):focus {
    outline: none !important;
    box-shadow: none !important;
}

.only18 img {
    max-width: 36px;
}
.toast p {
    margin-bottom: 0;
}
.modal-footer {
    background: #ffffff;
}
body .input-field input, body .input-field textarea {
    padding: 0;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}
.rs-verify-code-block {
    position: relative;
}
.rs-verify-ok {
    position: absolute;
    top: 0;
    left: 45%;
}
body .info {
    margin-bottom: 30px;
}
.row>* {
    padding-right: 0;
    padding-left: 0;
}

.input-field select.styled {
    width: 100%;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #212529;
    line-height: 1.5;
    height: 36px;
}
body .input-field:not(.materialize) select ~ label {
    position: absolute;
    left: 1px;
    top: -20px;
    pointer-events: none;
    font-size: 12px;
    opacity: .7;
}
.mt-20 {
    margin-top: 25px;
}
.register-phone-block.no-rf .rs-verify-timer-line {
    display: none;
}
.register-phone-block.no-rf .rs-verify-ok{
    display: none;
}
.register-phone-block.no-rf .rs-verify-reset-line{
    display: none;
}
.register-phone-block {
    margin-bottom: 25px;
    position: relative;
}
.register-phone-block .input-field:not(.materialize) {
    margin-bottom: 15px;
}
.rs-verify-error {
    position: absolute;
    font-size: 12px;
    top: 28px;
}
.invalid-feedback {
    position: absolute;
    top: 28px;
    font-size: 12px;
}
body .input-field:not(.materialize){
    margin-bottom: 25px;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    opacity: 1;
}
body .product-card .product-data-wrapper .title {
    font-weight: 500;
}
footer .footer-main .container .row #contact-form {
    align-items: center;
}
#rs-cart .total-cost {
    display: none;
}
#rs-cart.active .label{
    display: none;
}
#rs-cart.active .total-cost{
    display: inline-block;
    font-size: 12px;
}
main#basket .basket-summary .total {
    text-align: left;
}
.rs-checkout_totalBlock {
    margin-bottom: 40px;
}
main.profile .profile-sections li a {
    display: block;
}
.modal-content {
    width: auto;
}
.modal.show .modal-dialog {
    justify-content: center;
}
.modal.fade .modal-dialog {
    justify-content: center;
}
.datepicker-modal {
    z-index: 1051 !important;
    height: auto;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
}
.orig-select-year, .orig-select-month {
    display: none;
}
body {
    position: relative;
}
body ul.tabs .tab button {
    color: #999999;
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease, background-color .28s ease;
    border: none;
    background: none;
    text-transform: uppercase;
}
body ul.tabs .tab .nav-link.active {
    color: #FF9635;
    border-bottom: 2px #FF9635 solid;
    border-radius: unset;
}
body ul.tabs .tab .nav-link.active:focus {
    background: rgba(255, 150, 53, 0.05); }
body ul.tabs .tab .nav-link:hover {
    color: #FF9635; }
h3 {
    margin-top: 20px;
}
h3.support{
    margin-bottom: 35px;
}
.nav-link-support {
    position: relative;
}
.head-search__dropdown {
    position: absolute;
    top: 48px;
    background: #fff;
}
.head-search__dropdown .dropdown-item {
    display: flex;
}
#autoComplete_list_1 {
    border: 1px solid #FF9635;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0;
}
.head-search__clear {
    border: none;
    position: absolute;
    top: 7px;
    right: 45px;
    padding: 0;
}
.head-search .input-wrapper {
    position: relative;
}
body .button.outlined:focus{
    box-shadow: 0 0 0 1px #ff9635 inset !important;
}
.product-gallery img {
    max-width: 100%;
}
.product-page-title h1 {
    margin-bottom: 0;
}
.product-page-title {
    margin-bottom: 25px;
}
a.rs-favorite {
    display: block;
    width: 26px;
    height: 26px;
}
a.rs-favorite:before{
    content: '\F02D5';
    font-family: 'Material Design Icons';
    font-size: 26px;
}
a.rs-favorite.rs-in-favorite:before{
    content: '\F02D1';
    font-family: 'Material Design Icons';
    font-size: 26px;
}
header .nav-top .nav-right .icon-wrapper span.indicator.rs-favorite-items-count {
    right: 10px;
}
header .nav-top .nav-right .icon-wrapper span.indicator.profile-message-count {
    right: 7px;
}
body ul.breadcrumbs li.last a:after{
    content: '';
}
body .product-card .product-data-wrapper {
    width: 100%;
}
.block-user span.label {
    color: #ff9635;
}
.subcategories {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
body .tabs .tab .label {
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: normal;
}
@media (min-width: 800px){
    .container {
        width: 95%;
    }
    #products .row .col {
        padding: 0 7px;
    }
}
@media (max-width: 600px){
    body h1 {
        font-size: 24px;
        line-height: 1.3em;
    }
}
@media (max-width: 799px) {
    #basket .col .row {
        margin-left: 0;
        margin-right: 0;
    }
    .profile .col .row,
    #product-details .col .row{
        margin-left: 0;
        margin-right: 0;
    }
}
body .product-card .product-card-footer .pcf-left .btn {
    margin-bottom: 10px;
}
.bottom-toolbar .name-selector-wrapper .name-selector ul li a.btn {
    color: #fff;
    justify-content: center;
}
.news-image {
    width: 600px;
}
body .input-field:not(.materialize) textarea {
    padding-top: 5px;
}
body .input-field:not(.materialize) textarea ~ label {
    top: 0;
}
#order-proceed .details .kv-table .kv-pair.order-finish-total .key,
#order-proceed .details .kv-table .kv-pair.order-finish-total .value {
    border-bottom: none;
}
main#product .product-image-wrapper .slider-wrapper .swiper-slide .lazy {
    padding-bottom: 100%;
}
main#product .stats .rating-stats .rating-val {
    font-size: 45px;
    line-height: 70px;
}
.stars-block li.active {
    background: url(../img/icons/star-active.svg) 50% 50% no-repeat;
}
.stars-block li {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../img/icons/star.svg) 50% 50% no-repeat;
}
@media (min-width: 376px) and (max-width: 520px){
    body .product-card .product-card-footer .pcf-left .btn.disabled {
        font-size: 14px;
        padding: 5px;
        white-space: normal;
        line-height: 1.1rem;
    }
}
.profile-menu-button {
    margin-bottom: 25px;
    width: 50%;
}
.item-product-amount__input.counter-wrapper {
    max-height: 35px;
}
body i.disable-icon {
    margin-bottom: 0;
}
@media (max-width: 799px){
    body main#product .lazy.q{
        padding-bottom: 45%;
    }
    .product-details {
        margin-top: 15px;
    }
}

@media (max-width: 600px){
    body #product .card-basket-wrapper .basket-count .minus-wrapper, body #product .card-basket-wrapper .basket-count .plus-wrapper {
        flex-grow: 0;
    }
    main#product .product-image-wrapper .slider-wrapper .swiper-slide.active .lazy {
        box-shadow: none;
    }
}
body .card-basket-wrapper .basket-count input {
    width: 40px;
}
@media (min-width: 600px) and (max-width: 800px){
    main#product .product-image-wrapper .slider-wrapper .swiper-slide .lazy.h {
        padding-bottom: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.sidenav > li.sidebar-header .logo {
    height: 46px;
}
.sidenav > li.sidebar-header .region {
    white-space: normal;
}
.sidenav > li.sidebar-header .region span {
    white-space: normal;
    line-height: 1.2em;
}
.sidenav > li.sidebar-header {
    align-items: center;
}
#news-slider .swiper-slide .date {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
ul.dropdown-content.select-dropdown {
    transform: scaleX(1) scaleY(1) translateY(calc(100% - 45px)) !important;
    max-height: 60vh !important;
}
.rs-checkout_cartError {
    position: relative !important;
    line-height: 1.3em;
    font-size: 14px !important;
}
.rs-number-up.disabled,
.rs-number-down.disabled{
    pointer-events: none;
    color: #888 !important;
    opacity: 0.8;
}
.bottom-toolbar .right a,
.bottom-toolbar .left span.white-text{
    width: 100%;
}
.bottom-toolbar .left span.text {
    display: flex;
    flex-wrap: wrap;
}
.bottom-toolbar .left span.name-top {
    margin-right: 10px;
}
.sidenav > li.sidebar-header .region span {
    font-size: 14px;
}
@media (max-width: 800px) {
    footer {
        margin-bottom: 60px;
    }
}
.swiper-slide {
    height: auto;
}
h2{
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
.noUi-horizontal {
    height: 4px;
}
.noUi-horizontal .noUi-handle {
    width: 28px;
    top: -12px;
    cursor: pointer;
}
.noUi-handle {
    border-radius: 50%;
    border: 1px solid #ff9635;
}
.noUi-handle:before{
    left: 9px;
}
.noUi-handle:after, .noUi-handle:before {
    background: #ff9635;
}
.sets-wrapper .sets .no-exists .set label {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
.sets-wrapper .sets .no-exists .set input {
    pointer-events: none;
}
.sets-wrapper .sets .no-exists .radio-list {
    cursor: not-allowed;
}
.sets-wrapper {
    margin: 2vmax 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
.sets-wrapper .sets-title {
    font-weight: 500;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px; }
.sets-wrapper .sets {
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
.sets-wrapper .sets .set input {
    display: none; }
.sets-wrapper .sets .set input:checked ~ label {
    background: linear-gradient(to bottom, #4299FF, #1D6BD0);
    color: #fff; }
.sets-wrapper .sets .set label {
    padding: 0 10px;
    display: block;
    text-align: center;
    font-size: calc(18px + .05vmax);
    line-height: 2em;
    background-color: #efefef;
    margin: calc(2px + .1vmax);
    border-radius: 4px;
    color: #333;
    cursor: pointer; }
.offer-stock-line {
    color: #228f22;
}
main#product .product-details .card-basket-wrapper{
    margin-left: 20px;
}
.product-page-buy-button {
    display: flex;
    align-items: center;
}
@media(max-width: 395px){
    .product-page-buy-button {
        flex-direction: column;
        align-items: center;
    }
    main#product .product-details .card-basket-wrapper{
        margin-left: 0;
    }
}
.product-details .barcode {
    margin-bottom: 5px;
}
.row.breadcrumbs-row {
    margin-bottom: 0;
}
ul.breadcrumbs {
    margin-bottom: 0;
}
.contacts-table a {
    color: #fff;
}
.cart-offer-title, .cart-offer-value{
    font-size: 14px;
    color: #999999;
    font-style: italic;
}
.cart-product-offer {
    margin-top: -7px;
}
.icon-wrapper span.indicator{
    font-style: normal;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    z-index: 2;
    font-size: 10px;
    font-weight: bold;
    background: #CB1212;
    color: #fff;
    padding: 0 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
}
.bottom-toolbar #rs-cart.active .total-cost{
    font-size: 14px;
}
.bottom-toolbar .icon-wrapper {
    position: relative;
}
.icon-wrapper span.indicator{
    display: none;
}
.icon-wrapper .active span.indicator {
    display: block;
}
@media (max-width: 800px){
    .bottom-toolbar li a .label {
        font-size: 10px;
    }
}
.review-date{
    flex-grow: 1;
    color: #1D6BD0;
}
.review-action a {
    margin-bottom: 25px;
}
.modal-content .review-text{
    min-width: 320px;
}
.top-toolbar .name-selector-wrapper .name-selector ul li a.rs-in-dialog{
    color: #fff;
    justify-content: center;
}
.catalog-select__label {
    color: #84858A;
    white-space: nowrap;
    margin-right: 12px;
}
.catalog-select {
    display: flex;
    align-items: center;
    max-width: 100%;
}
.catalog-select__options {
    position: relative;
    display: flex;
    align-items: center;
}
.catalog-select__options select {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    padding: 4px;
    width: 100%;
}
.catalog-select__options::after {
    display: block;
    margin-left: 8px;
    min-width: 20px;
    height: 20px;
    background-color: #fff;
    background-image: url(../img/icons/accordion-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 20px;
    border: none;
    outline: 0;
    word-wrap: normal;
}
.catalog-select__value {
    color: #FF6B35;
}
.mobile-filter-trigger span{
    font-size: 14px;
}
.mobile-filter-trigger {
    display: inline-flex;
    margin-right: 25px;
}
.catalog-offcanvas-buttons {
    padding: 0 15px;
}
.check-data-item {
    display: flex;
    justify-content: flex-start;
}
.check-data-item a {
    margin-left: 35px;
}
.all-right {
    margin-right: 10px;
    color: #999999;
}
header .nav-top .nav-right .icon-wrapper span.indicator {
    line-height: 20px;
    border-radius: 50%;
    background: #CB1212;
}
#profile h2, #orders h2, #returns h2 {
    margin-top: 0;
}
main.profile #available-returns td button.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6B35;
}
#available-returns .cart-amount {
    display: flex;
}
#available-returns .cart-amount__input {
    display: flex;
    padding: 0 10px;
}
#available-returns .cart-amount__input input {
    border: none;
    text-align: right;
    width: 40px;
}
.bottom-toolbar li:hover > div ul {
    opacity: 1;
    pointer-events: all;
    transform: none;
}
.icon-wrapper span.indicator.indicator-ul-bottomtoolbar {
    top: 5px;
    right: 10px;
}

